<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Contact Us </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Kurunagala</div>
          <div class="text-two">Sri Lanka</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+94763225530</div>
          <!-- <div class="text-two">+0096 3434 5678</div> -->
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">nimanthak@sltc.ac.lk</div>
          <div class="text-two">hasithap@sltc.ac.lk</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have any types of quries related to this application, you can send me message from
          here.</p>

        <form action="/submit_contact_form" method="POST">
          <div class="input-box">
            <input type="text" name="name" placeholder="Enter your name">
          </div>
          <div class="input-box">
            <input type="email" name="email" placeholder="Enter your email">
          </div>
          <div class="input-box">
            <textarea name="message" id="subject" placeholder="Write something.." style="height:150px"></textarea>
          </div>
          <div class="input-box message-box">

          </div>
          <div class="button">
            <input type="submit" class="sendButton" value="Send Now">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>